.commentBubble {
  position: absolute;
  padding: 23px;
  width: 282px;
  height: auto;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);

  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  top: 117%;
  z-index: 99;
  cursor: pointer;
}

.prompt {
  font-family: Roboto;
  margin-top: 15px;
  line-height: 10px;
  color: #ffffff;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .commentBubble {
    width: 292px;
    top: 150%;
    left: 18.5%;
    animation: 5s;
  }
}

@media screen and (min-width: 1280px) {
  .commentBubble {
    top: 150%;
    left: 22.5%;
    animation: 5s;
  }
}

.commentBubble::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-bottom-color: #1d346a;
  border-top: 0;
  margin-left: -96px;
  margin-top: -17px;
}

.bubbleText {
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
}
