.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  padding-right: 20px;
  text-align: right;
  border-right: 1px solid #e0e5eb;
}

.userInfo_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.userAvatar {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  align-self: center;
  border-radius: 30px;
  background-color: #f5f6fa;
}

.userFullName {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  letter-spacing: 0.04em;

  color: #52555f;
  cursor: pointer;
}

.userFullName:hover {
  color: orangered;
}
