@media screen and (min-width: 320px) {
  .containerForm320 {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculatorIcon {
    cursor: pointer;
  }

  .iconForm {
    position: absolute;
    top: 50%;
    right: 20px;
  }
  .inputDescriptions {
    border: 2px solid #fff;
    background-color: #f5f6fb;
    width: 282px;
    height: 44px;
    color: #000;
    border-radius: 16px 16px 0 0;
    margin-bottom: -2px;
    padding-left: 21px;
    outline: none;
  }

  .inputDescriptions::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .inputDescriptions::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .inputDescriptions::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .inputDescriptions:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .inputSum {
    border: 2px solid #fff;
    border-right: 0px;
    width: 125px;
    height: 44px;
    color: #000;
    background-color: #f5f6fb;
    border-radius: 22px 0px 0px 22px;
    padding-left: 25px;
    outline: none;
  }

  .inputSum::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .inputSum::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .inputSum::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .inputSum::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .positionInputSum {
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-top: 30px;
  }

  .positionIcon {
    position: relative;
    width: 60px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 0 22px 22px 0;
  }
  .button {
    width: 125px;
    height: 44px;
    border-radius: 16px;
    border: none;
    padding: 0;
    color: #52555f;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 0.02em;
    filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
    cursor: pointer;
  }

  .buttonLeft {
    color: #fff;
    background-color: #ff751d;
  }

  .buttonLeft:hover {
    background-color: #f5f6fb;
    color: #52555f;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }
  .buttonRight {
    color: #52555f;
    background-color: #f5f6fb;
    margin-left: 15px;
  }

  .buttonRight:hover {
    background-color: #ff751d;
    color: #fff;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }

  .positionButton {
    margin-top: 83px;
  }
}

@media screen and (min-width: 768px) {
  .containerForm768 {
    display: flex;
    flex-direction: column;
  }
  .containerFormTablet {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 30px auto;
  }

  .inputForm {
    display: flex;
    width: 75%;
  }
  .inputDescriptions {
    border: 2px solid #f5f6fb;
    background-color: #fff;
    border-right: 0px;
    width: 192px;
    border-radius: 16px 0 0 0;
  }
  .labelDescriptions {
    width: 192px;
    padding-top: 2px;
    margin-right: -2px;
  }

  .labelSelect {
    width: 173px;
  }

  .inputSum {
    border: 2px solid #f5f6fb;
    border-left: 0px;
    width: 104px;
    border-radius: 0 16px 16px 0;
    background-color: #fff;
    padding-right: 45px;
    text-align: right;
  }

  .positionButton {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 48px;
  }

  .positionIcon {
    width: 55%;
  }
}

@media screen and (min-width: 1280px) {
  .containerForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 20px 59px;
  }

  .inputForm {
    display: flex;
    justify-content: center;
  }

  .labelDescriptions {
    width: 289px;
  }
  .labelSelect {
    width: 189px;
  }
  .inputDescriptions {
    width: 289px;
  }

  .inputSum {
    width: 126px;
    text-align: center;
    padding-left: 5px;
  }

  .labelSum {
    height: 44px;
  }

  .positionButton {
    margin-bottom: 0px;
  }
}
