.toGoBack {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.link {
  display: flex;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
}
@media screen and (max-width: 1279px) {
  .toGoBack {
    margin-right: auto;
  }
}
