
@media screen and (min-width: 768px) {
  .toGoReport {
    display: flex;
    width: 154px;
    height: 24px;
    align-items: center;

    margin-left: 111px;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .link {
    display: flex;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;

    color: #52555f;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) {
  .toGoReport {
    margin-left: 205px;
  }
}
