@media screen and (min-width: 320px) {
  .pickerWrapper {
    position: absolute;
    margin: 20px -90px;
    width: fit-content;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f5f6fb;
  }
}

@media screen and (min-width: 768px) {
  .pickerWrapper {
    position: absolute;
    margin: 10px 0px;
    width: 40%;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f5f6fb;
  }
}
@media screen and (min-width: 1240px) {
  .pickerWrapper {
    position: absolute;
    background-color: white;
    left: 2%;
    top: 15%;
    width: auto;
  }
}
