/* .header {
  position: fixed;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
} */
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.logoImg {
  margin-left: 19px;
}
.firstSection {
  position: relative;
  background-color: #f5f6fb;
  overflow: hidden;
  height: 286px;
  border-radius: 0 0 0 45px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secondSection {
  height: 514px;
  position: relative;
}
.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 86px;
}
.imgText {
  width: 183px;
  height: 46.34px;
  margin-left: 49px;
}
.fontText {
  margin: 5px 0 0 60px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
}

/* Адаптив */
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .bcgImage {
    position: absolute;
    z-index: 2;
    background-image: url('../../img/svg/Vector.svg');
    width: 83px;
    height: 89px;
    top: 104px;
    left: 271px;
    transform: rotate(-180deg);
  }
  .bcgImageBottom {
    position: absolute;
    width: 83px;
    height: 89px;
    top: 425px;
    left: 35px;
    background-image: url('../../img/svg/Vector.svg');
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .logoImg {
    margin-left: 26px;
  }
  .imgText {
    width: 307px;
    height: 78px;
    margin-left: 171px;
  }
  .firstSection {
    height: 526px;
    position: relative;
  }
  .bcgImage {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 232px;
    top: 28px;
    left: 10px;
    background-image: url('../../img/svg/bcgImage.svg');
  }
  .text {
    z-index: 3;
  }
  .fontText {
    margin: 5px 0 0 225px;
  }
  .secondSection {
    height: 442px;
  }
  .bcgImageBottom {
    position: absolute;
    z-index: 99;
    width: 183px;
    height: 142px;
    top: 56%;
    left: 13%;
    background-image: url('../../img/svg/bcgImageBottom.svg');
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .firstSection {
    position: relative;
  }
  .bcgImage {
    position: absolute;
    z-index: 2;
    width: 1334px;
    height: 232px;
    top: 28px;
    left: 10px;
    background-image: url('../../img/svg/bcgImage.svg');
  }
  .imgText {
    width: 377px;
    height: 120px;
    margin-left: 230px;
    padding: 20px 1px 2px 3px;
  }
  .text {
    padding-top: 308px;
  }
  .fontText {
    margin: 5px 0 0 302px;
    font-size: 16px;
    line-height: 19px;
  }
  .secondSection {
    height: 268px;
  }
  .bcgImageBottom {
    width: 183px;
    height: 142px;
    left: 230px;
    top: 76px;
  }
}
