.reportContainer {
  width: 100%x;
  text-align: center;
}
.section {
  display: flex;
  border: 1px solid tomato;
  text-align: center;
  justify-content: center;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  justify-content: space-between;
}
.icon {
  width: 56px;
  height: 56px;
  border: 1px solid darkblue;
  fill: darkgreen;
}
.reportWrapper {
  display: grid;
  padding-left: 212px;
  padding-right: 212px;
}
.transactionWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.reportList {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
  list-style: none;
  font-size: 12px;
  justify-content: center;
}

.reportCard {
  text-align: center;
  flex-basis: calc((100% - 100px) / 6);
}
.reportCard:not(:nth-child(6n)).reportCard:not(:last-child) {
  margin-right: 20px;
}
ArrowBackIosIcon {
  fill: #ff751d;
}

@media screen and (max-width: 720px) {
  .reportCard {
    text-align: center;
    flex-basis: calc((100% - 75px) / 6);
  }
  .container {
    width: 668px;
  }
  .reportCard:not(:nth-child(6n)) {
    margin-right: 15px;
  }
  .reportWrapper {
    padding-left: 37px;
    padding-right: 37px;
  }
  .button {
    display: none;
  }
}
img {
  display: inline-block;
  width: 56px;
  height: 56px;
}
