.reportContainer {
  width: 100%x;
  text-align: center;
  /* background-color: #f2f5fc; */
  padding-top: 40px;
}
.section {
  display: flex;
  text-align: center;
  justify-content: center;
  /* width: 1060px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-items: center;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
}

.reportWrapper {
  margin-bottom: 30px;
  display: block;
}

.reportList {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
  list-style: none;
  font-size: 12px;
  justify-content: center;
}

ArrowBackIosIcon {
  fill: #ff751d;
}

@media screen and (min-width: 320px) {
  .container {
    width: 668px;
  }
  .buttonNone {
    display: none;
  }
  .navigation {
    display: block;
  }
  .navigationWrapper {
    display: inline-block;
    margin-top: 10px;
  }
  .reportCard {
    text-align: center;
    /* width: 93px; */
    height: 150px;
    border-bottom: 1px solid #e0e5eb;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    font-size: 12px;
    align-items: 1.17;
    box-sizing: border-box;
    /* display: block;
    max-width: 100%; */
    flex-basis: calc((100% - 60px) / 3);
  }
  .reportTitle {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    min-width: 96px;
  }
  .reportMonthTitle {
    width: 110px;
    height: 20px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  .reportCard:not(:nth-child(3n)) {
    /* margin-right: 10px; */
  }

  .transactionWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: 1.17;
  }
  .transactionWrapper.amountwrapper {
    display: block;
  }
  .iconSvg {
    /* display: block; */
    max-width: 56px;
    max-height: 56px;
  }
  .iconSvg:hover {
    fill: #ff751d;
  }
  .iconSvg:focus {
    fill: #ff751d;
  }
  .reportCardTitle {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
  }
  .title {
    color: rgba(82, 85, 95, 0.7);
    margin-bottom: 5px;
  }
  .reportMonth {
    font-size: 12px;
    line-height: 1.17;
    display: table-header-group;
    /* border: 1px solid tomato; */

    height: 39px;
    align-items: center;
  }
  .amountTitle {
    color: #52555f;
    /* min-width: 96px; */
    /* margin-right: 15px; */
  }
  .amountSection {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
  }
  .buttonWidth {
    min-width: 183px;
  }
}
/* .transactionWrapper:not(:last-child) {
  margin-right: 20px;
} */

.amountExpense {
  color: #e53935;
}
.amountIncome {
  color: #407946;
}
.amountStrip {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    border-radius: 30px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  }

  .navigation {
    display: flex;
    /* justify-content: space-between; */
  }
  .navigationWrapper {
    display: flex;
    margin-top: 0px;
    width: 60%;
  }
  .reportCard {
    text-align: center;
    flex-basis: calc((100% - 77px) / 6);
    border-bottom: 0;
  }

  .reportCard:not(:nth-child(6n)) {
    margin-right: 10px;
    font-size: 12px;
    align-items: 1.17;
  }
  .reportWrapper {
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    padding: 20px;
  }
  .transactionWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  .reportMonth {
    justify-content: space-between;
  }
  .reportList {
    padding: 20px;
  }
  .amountSection {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .amountTitle {
    margin-right: 15px;
  }
  .transactionWrapper.amountwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .reportCard {
    text-align: center;
    flex-basis: calc((100% - 100px) / 6);
  }
  .reportCard:not(:nth-child(6n)).reportCard:not(:last-child) {
    margin-right: 20px;
  }
  .iconSvg {
    max-width: 58px;
    max-height: 58px;
  }
  .reportWrapper {
    padding-left: 37px;
    padding-right: 37px;
  }
  .buttonNone {
    display: block;
  }
  .reportMonth {
    margin-left: 205px;
  }
  .navigation {
    justify-content: space-between;
  }
  .navigationWrapper {
    width: 65%;
  }
}
