.main {
  /* margin: 48px auto; */
  width: 605px;
  height: 38px;
  text-align: center;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  border-radius: 20px 20px 0 0;
  background-color: #F5F6FB;
}


@media screen and (min-width: 1280px) {
      .main {
    /* margin: 59px auto; */
      width: 760px;
      height: 38px;  
      }
}

.theadTable {
  color: rgb(0, 0, 0);
  border-radius: 30px 30px 0px 0px;
}

.th {
  padding: 10px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  align-items: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto;
  font-style: normal;
}

.td {
  display: revert;
  align-items: center;
  height: 38px;
  padding: 0 8px;
  background: #ffffff;
  color: #52555f;
  border-bottom: 2px solid #f4f6fb;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

.deleteBtn {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}