@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

.header {
  width: 100vw;
  height: 56px;
  padding: 0 20px;
  background-color: #ffffff;
}

.header_container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.logoImg,
.logoLink {
  margin: 0;
  height: 33px;
  align-self: center;
  cursor: pointer;
}

.user_container {
  display: flex;
  flex-flow: row;
  margin: 0;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

/* .Blazing {
  font-family: 'Akronim', cursive;
  font-size: 24px;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  color: #ff7300;
  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 4px -5px 6px #ff0,
    -4px -10px 10px #ff0, 0 -10px 30px #ff0;
  -webkit-animation: Blazing 2s linear infinite alternate;
  animation: Blazing 2s linear infinite alternate;
} */

@media (min-width: 768px) {
  .serInfo_container {
    width: fit-content;
    padding: 0 5px;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  .name {
    font-size: 23px;
  }
  .avatar {
    width: 57px;
  }
}
