.enter {
  opacity: 0;
  transform: scale(0.1);
}
.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms linear;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: all 1000ms linear;
}
