@media screen and (min-width: 320px) {
  .reportBalance {
    display: table-footer-group;
    font-size: 12px;
    color: rgba(82, 85, 95, 0.7);
  }

  .balanceLabel {
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .balanceInput {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    min-width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 22px 0 0 22px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
  }
  .balanceInputReport {
    min-width: 183px;
    border-radius: 16px 16px 16px 16px;
  }
  .balanceButton {
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    border-left: 1px;
    background-color: transparent;
    border-radius: 0 22px 22px 0;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
    cursor: pointer;
  }

  .balanceButton:hover {
    background-color: #cfd1d4;
    color: #f5f6fb;
    transition: 0.5s linear;
  }

  .buttonsGroup {
    display: flex;
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .reportBalance {
    display: flex;
    margin-right: auto;
  }

  .balanceLabel {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  .balanceInput {
    height: 44px;
    margin-left: 21px;
    margin-top: 0px;
    min-width: 125px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    font-weight: bold;
    color: black;
  }

  .balanceButton {
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 16px;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
    margin-left: 15px;
  }
  .buttonsGroup {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceLabel {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
  }
  .balanceInput {
    height: 44px;
    margin-left: 40px;
    margin-right: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
    font-weight: bold;
    color: black;
  }

  .balanceButton {
    width: 125px;
    height: 44px;
    background-color: transparent;
    border-radius: 16px;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
    margin-left: 0px;
  }
  .buttonNun {
    display: block;
  }
}
