@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .reportBalance {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .balanceLabel {
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
  }
  .balanceInput {
    width: 125px;
    height: 44px;
    margin-left: 20px;
    margin-right: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17;
  }
  .balanceButton {
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 25px;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    line-height: 1.17;
  }
}
