@media screen and (min-width: 320px) {
  .holst {
    margin-top: 37px;
    background-color: #f5f6fb;
    position: relative;
  }
  .holst p {
    display: inline-block;
    font-size: 12px;
    color: #52555fb2;
  }
  .balanceContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
  }

  .buttonContainer {
    width: 100%;
    height: 53px;
    position: fixed;
    bottom: 0px;
    height: 53px;
  }
  .buttonExpense {
    min-width: 50%;
    height: 53px;
    top: 514px;
    padding: 0;
    background-color: #f5f6fb;
    border: 1px solid white;
    letter-spacing: 0.02em;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }

  .buttonIncome {
    min-width: 50%;
    height: 53px;
    top: 514px;
    padding: 0;
    background-color: #f5f6fb;
    border: 1px solid white;
    letter-spacing: 0.02em;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }
  .buttonIncome:hover {
    background-color: #ff751d;
    color: #fff;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }

  .buttonExpense:hover {
    background-color: #ff751d;
    color: #fff;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }

  .buttonArrowGoBack {
    position: absolute;
    left: 22px;
    outline: none;
    border: none;
    background: none;
    color: #ff751d;
    font-size: 36px;
    font-weight: bolder;
  }
}

@media screen and (min-width: 768px) {
  .balanceContainer {
    display: flex;
    justify-content: right;
    align-items: baseline;
    margin-top: 40px;
    width: 100%;
  }

  .holst {
    width: 665px;
    height: 626px;
    border: 1px solid #fff;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    position: relative;
  }
  .dataContainer {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .buttonContainer {
    position: absolute;
    top: -6.4%;
    right: 0.1%;
  }

  .buttonSpentIncome {
    width: 138px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px 20px 0 0;
    background-color: #fefefe;
    border: none;
    letter-spacing: 0.02em;
    cursor: pointer;
  }

  .buttonSpentIncome:hover {
    color: #52555f;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }

  .buttonSpentIncomeActive {
    color: #ff751d;
  }
}
.containerSummary768 {
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .balanceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 40px;
    width: 1060px;
  }

  .holst {
    width: 1060px;
    height: 579px;
    border: 1px solid #fff;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
    position: relative;
  }

  .dataContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .buttonContainer {
    position: absolute;
    top: -7.1%;
  }

  .buttonSpentIncome {
    width: 138px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px 20px 0 0;
    background-color: #fefefe;
    border: none;
    letter-spacing: 0.02em;
    cursor: pointer;
  }

  .buttonSpentIncome:hover {
    color: #52555f;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }

  .buttonSpentIncome:active {
    color: #ff751d;
  }
}
